:root {
    --background-color: #444444;
    --color-negro: #171717;
    --color-rojo: #DA0037;
    --color-blanco: #EDEDED;
}

$background-color: var(--background-color);
$color-negro: var(--color-negro);
$color-rojo: var(--color-rojo);
$color-blanco: var(--color-blanco);