.topbar-marvel {
    font-weight: $big-title;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    text-transform: uppercase;
    transition: padding-right .7s ease-in;
    &__marvel {
        background: $color-rojo;
        padding: 8px 5px;
        margin-right: 5px;
        &:hover {
            background: $color-negro;
            color: $color-rojo;
        }
    }

    &__studios {
        padding: 8px 5px;
        border-top: 1px solid $color-blanco;
        border-bottom: 1px solid $color-blanco;
        margin-left: 5px;
        &:hover {
            // border-top: 1px solid $color-rojo;
            // border-bottom: 1px solid $color-rojo;
            color: $color-rojo
        }
    }
    @include laptop {
        &.move {
            padding-right: 30%;
        }
    }
}